html{
    font-family: 'Aboreto', cursive;

}
 
#ola{
   display: flex;
   justify-content: center;
   align-items: center;
}

#o_titulo{
    color: green;
    background-color:chartreuse;
    font-size: 50px;
    text-align: center;
    margin: auto;
    border: 5px solid black;
    border-radius: 50px;
}

#segunda{
    max-width: 50vw;
    display: flex;
    justify-content: center;
    align-items: center;
}


#bund{
    width: 30%;
    margin: 0 auto;
    font-weight: bold;
    color: red;
    background-color: lightblue;
    text-align: center;
}